<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Gallery</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css'><link rel="stylesheet" href="/assetsGALLERY/req/style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!----Links--->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<style>
	.grad{
	background-image: linear-gradient(to right,rgba(0,0,0,0) , rgba(0,70,70,0.55) , rgba(0,70,70,0.7) ,rgba(0,70,70,0.55) ,rgba(0,0,0,0) );
	}
	.textShineBlack {
  background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.2), rgba(255,255,255,1), rgba(255,255,255,1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 3s ease-in-out infinite ;
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}
	</style>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
<div class = "row row-content text-white grad" style="margin-top:0px;">
    <h1 class=" col-12 offset-sm-4 col-sm-4 d-flex justify-content-center display-2" >Capture</h1>
    <h4 class=" col-12 d-flex justify-content-center textShineBlack" style="text-align: center; padding-bottom:5px;">“You don’t take a photograph, you make it.” –Ansel Adams.</h4>
<p style="text-align: center;justify-content: center;align-items: center; font-size:18px;" class="d-none d-sm-block mt-1">A beautiful display of all the fun moments we had, with the help of pictures, which will always be cherished for the rest of our lives. Those funny moments, those magnificent performances, those knowledgeable debates, the valuable guidance given by the teachers and the senior members of our club will surely be adored by us through these photos. Well, a photograph is a story that someone fails to put into words. And these photographs are the ones which are the marks of the numerous stories that every ECA member is keen to cherish!
We believe that this treasure of memories will continue to flourish by the day</p>
</div>
</div>
<div class="container">
  <div class="row" style="padding-top: 30px;">
    <a href="/assetsGALLERY/img/db.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
      <img src="/assetsGALLERY/img/db.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
    <a href="/assetsGALLERY/img/db1.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
      <img src="/assetsGALLERY/img/db1.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
    <a href="/assetsGALLERY/img/db2.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4">
      <img src="/assetsGALLERY/img/db2.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
  </div>
  <div class="row">
    <a href="/assetsGALLERY/img/db3.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
      <img src="/assetsGALLERY/img/db3.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
    <a href="/assetsGALLERY/img/db4.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
      <img src="/assetsGALLERY/img/db4.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
    <a href="/assetsGALLERY/img/db5.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
      <img src="/assetsGALLERY/img/db5.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
  </div>
  <div class="row">
    <a href="/assetsGALLERY/img/db6.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
      <img src="/assetsGALLERY/img/db6.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
    <a href="/assetsGALLERY/img/db7.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
      <img src="/assetsGALLERY/img/db7.jpeg" class="img-fluid rounded"style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
    <a href="/assetsGALLERY/img/db8.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4">
      <img src="/assetsGALLERY/img/db8.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
  </div>
  <div class="row">
    <a href="/assetsGALLERY/img/ac.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
      <img src="/assetsGALLERY/img/ac.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
    <a href="/assetsGALLERY/img/ac1.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
      <img src="/assetsGALLERY/img/ac1.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
    <a href="/assetsGALLERY/img/ac2.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4">
      <img src="/assetsGALLERY/img/ac2.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
  </div>
  <div class="row">
    <a href="/assetsGALLERY/img/ac3.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
      <img src="/assetsGALLERY/img/ac3.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
    <a href="/assetsGALLERY/img/ac4.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
      <img src="/assetsGALLERY/img/ac4.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
    <a href="/assetsGALLERY/img/ac5.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4">
      <img src="/assetsGALLERY/img/ac5.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
  </div>
  <div class="row" style="padding-bottom: 20px;">
    <a href="/assetsGALLERY/img/ac6.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
      <img src="/assetsGALLERY/img/ac6.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
    <a href="/assetsGALLERY/img/ac7.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4" style="margin-bottom: 10px;">
      <img src="/assetsGALLERY/img/ac7.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
    <a href="/assetsGALLERY/img/db13.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-sm-6 col-md-4">
      <img src="/assetsGALLERY/img/db13.jpeg" class="img-fluid rounded" style="border: solid 3px #000; border-radius: 5px; height:265px; width:1024px;">
    </a>
  </div>
</div>



<footer id="footer">
    <div class="container" style="text-align: center;justify-content:center;">
      <h3>Cultural Club of PICT</h3>
      <p style="margin-bottom: 12

      px;">We create a difference !</p>

      <div class="info" style="text-align:left;justify-content:left;align-items:left;">

        
      </div>
      
      <div class="copyright">
        &copy; Copyright <strong><span>CC</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/selecao-bootstrap-template/ -->
        Designed by <a>WEBTEAM</a>
      </div>
    </div>
  </footer><!-- End Footer -->
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js'></script>
<script  src="assetsGALLERY/req/script.js"></script>

<!-- Vendor JS Files -->



</body>
</html>
