<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Welcome</title>

  <meta content="" name="descriptison">
  <meta content="" name="keywords">



  <!-- Favicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link href="assetsECA/img/ECA/favicon.png" rel="icon">
  <link href="assetsECA/img/ECA/apple-touch-icon.png">

  <!-- Google Fonts -->

  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assetsECA/vendor/bootstrap/css/bootstrap.min.css" >
<link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" >

  <link href="assetsECA/vendor/boxicons/css/boxicons.min.css" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link href="assetsECA/vendor/remixicon/remixicon.css" >
  <link href="assetsECA/vendor/line-awesome/css/line-awesome.min.css" >
  <link href="assetsECA/vendor/venobox/venobox.css" >
  <link href="assetsECA/vendor/owl.carousel/assets/owl.carousel.min.css" >
  <link href="assetsECA/vendor/aos/aos.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <!-- Template Main CSS File -->
  <link href="assetsECA/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Selecao - v2.2.0
  * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
   <style>
   	.grad{
	 background-image: linear-gradient(to right,rgba(0,0,0,0) , rgba(0,0,0,0.55) , rgba(0,0,0,0.7) ,rgba(0,0,0,0.55) ,rgba(0,0,0,0) );
	 //background-image: radial-gradient(rgba(0,0,0,0.7) ,rgba(0,0,0,0.55) ,rgba(0,0,0,0), rgba(0,0,0,0));
	}
	.myborder{
	border: solid 3px rgba(50,200,125,0.6);
	border-radius: 2px;
	}
 </style>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center" id="insideHeader">

      <div class="logo mr-auto">
	  <a href="https://www.pict.edu">
        <img src="assetsECA/img/ECA/logo1.png" alt="" style="max-height:70px; height: 20vw;" >
		</a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a class=" " href="#about">About US</a></li>

          <li><a href="#team1">Team</a></li>
          <li class="drop-down text-white"><a href="#">CC@pict</a>
            <ul>
              <li><a href="/debsoc">PICT DEBATE SOCIETY</a></li>
              <li><a href="/art-circle">PICT ART CIRCLE</a></li>
              <li><a href="/debsoc#call-to-action">PICT QUIZ CLUB</a></li>
			  <li><a href="/addiction">PICT ANNUAL GATHERINGS</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="/gallery">Gallery</a></li>
			<% if (!currentUser) { %>
                <li><a href="/login">Admin Login</a></li>
                <% } else { %>
                <li><a href="/admin" class="item"><strong><%= currentUser%></strong></a></li>
                <li><a href="/logout" class="item">Logout</a></li>

                <% } %>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->


  <!-- hero section -->

  <div class="slider-container"  style="margin-bottom:0px;"> 
<div class="slider-container carousel slide" id="myHeader" style="height:63vw;" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myHeader" data-slide-to="0" class="active"></li>
    <li data-target="#myHeader" data-slide-to="1"></li>
    <li data-target="#myHeader" data-slide-to="2"></li>
    <li data-target="#myHeader" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
  	<div class="carousel-item active">
      <img class="" src="assetsECA/img/ECA/02.jpeg" style="width:100%; height:63vw; max-height:100vh;" alt="zero slide">
	  <div class="carousel-caption grad" >
	  <div class="d-block d-md-none">
	  <h5 style=" font-family:Polar, Helvetica, Arial, sans-serif;word-spacing: 1px;letter-spacing: 2px;"><b>Welcome To <br/>Cultural Club</b></h5>
	  </div>
	  <div class="d-none d-md-block">
	  <h4 style=" font-family:Polar, Helvetica, Arial, sans-serif;word-spacing: 1px;letter-spacing: 2px;"><b>Welcome To Cultural Club</b></h4>
	  </div>
	  <h5 class="d-none d-md-block">Leaping towards perfection, by the day!</h5>
	  </div>
    </div>
    <div class="carousel-item " >
      <img class="" src="assetsECA/img/ECA/artcircle2.jpg" style="width:100%; height:63vw; max-height:100vh;" alt="First slide">
	  <div class="carousel-caption grad">
	  <div class="d-none d-md-block">
	  	  <h2 style=" font-family:Polar, Helvetica, Arial, sans-serif;word-spacing: 1px;letter-spacing: 2px;"><b>Art circle</b></h2>
	  </div>
	  <div class="d-block d-md-none">
	  	  <h4 style=" font-family:Polar, Helvetica, Arial, sans-serif;word-spacing: 1px;letter-spacing: 2px;"><b>Art circle</b></h4>
	  </div>
	  <h5 class="d-none d-md-block">Creation which you have never seen before.</h5>
	  </div>
    </div>
    <div class="carousel-item" >
      <img class="" src="assetsECA/img/ECA/debsoc2.jpg" style="width:100%; height:63vw; max-height:100vh;" alt="Second slide">
	  <div class="carousel-caption grad">
	  <div class="d-none d-md-block">
	  <h2 style=" font-family:Polar, Helvetica, Arial, sans-serif;word-spacing: 1px;letter-spacing: 2px;"><b>DebSoc</b></h2>
	  </div>
	  <div class="d-block d-md-none">
	  <h4 style=" font-family:Polar, Helvetica, Arial, sans-serif;word-spacing: 1px;letter-spacing: 2px;"><b>DebSoc</b></h4>
	  </div>
	  <h5 class="d-none d-md-block">Gladiatorial Combat of the Intellect.</h5>
	  </div>
    </div>
    <div class="carousel-item" >
      <img class="" src="assetsECA/img/ECA/quiz2.jpg" style="width:100%; height:63vw; max-height:100vh;" alt="Third slide">
    <div class="carousel-caption grad">
	<div class="d-none d-md-block">
	  <h2 style=" font-family:Polar, Helvetica, Arial, sans-serif;word-spacing: 1px;letter-spacing: 2px;"><b>Quiz Club</b></h2>
	  </div>
	<div class="d-block d-md-none">
	  <h4 style=" font-family:Polar, Helvetica, Arial, sans-serif;word-spacing: 1px;letter-spacing: 2px;"><b>Quiz Club</b></h4>
	  </div>
	  <h5 class="d-none d-md-block">Young minds, young brains, brilliant quizzing.</h5>
	  </div>
	</div>
  </div>
  <a class="carousel-control-prev" href="#myHeader" role="button" data-slide="prev" onclick="$('#myCarousel').carousel('prev')">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myHeader" role="button" data-slide="next" onclick="$('#myCarousel').carousel('next')">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container colorbg" >
	<div class="container" style="padding-top:50px; margin-top:0px;">
        <div class="section-title d-flex " data-aos="fade-right" style="padding-bottom:0px;">
          <h2>ABOUT US!</h2>
        </div>
		<div class="section-title d-flex " data-aos="fade-right" style="padding-top:0px; padding-bottom:0px;">
          <p>WHO WE ARE</p>
        </div>
	</div>
  <div class="row" style="margin-top: 50px;justify-content: center;padding: 20px;">
  <div class="col-12 col-lg-10  myborder" data-aos="flip-up" style="background-color: #fff;align-items: center;margin-right: 0px; ">
        <div class="vision"  style="justify-content: center;">
          <h2 style="">QUALITY OBJECTIVES</h2>
          <strong><ul><li><p style="text-align: justify;text-justify: inter-word;"> To put forth students' innovative ideas at inter-collegiate cultural events by providing them with necessary social, technical, environmental, and financial support </p></li><li><p style="text-align: justify;text-justify: inter-word;">
		To increase student faculty interaction by involving more teaching and non-teaching staff in organizing various cultural events along with the students.</p></li>
          </strong>
        </div></div>
		</div>


        <div class="row content d-flex justify-content-center mt-5" data-aos="fade-up" >
          <div class="col-12 col-md-10  d-sm-block">
            <p style="text-align: justify;text-justify: inter-word;"><strong>
              We, the Debate Society, Art Circle & Quiz Club form the Cultural Club at PICT. 
              We are a strong team of individuals who ensure that our students develop their over all personality, elevating their skills in Art & Oratory and thus excelling in them thereby ensuring a proper balance of curicular and co-curricular activities in one's life.</strong>
            </p>
			</div >
			<!---
			<div class="col-12 col-md-8 d-sm-none d-flex justify-content-center">
            <p><strong>
              The PICT Cultural Club includes clubs like: </strong>
            </p>
			</div >
			</div>
			<div class="row content d-flex justify-content-center mt-3" data-aos="fade-up" >
			<div class="col-12 col-md-6 d-flex justify-content-center">
            <ul>
              <li><i class="ri-check-double-line"></i> PICT DEBATE SOCIETY</li>
              <li><i class="ri-check-double-line"></i> PICT ART CIRCLE</li>
              <li><i class="ri-check-double-line"></i> PICT QUIZ CLUB</li>
              
            </ul>
			</div>
          </div>-->
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
             
            </p>
            
          </div>
        </div>
</div>
    </section><!-- End About Section -->
    <!-- ======= Team Section ======= -->
    <section id="team1" class="colorbg" style="width: 100%;height: 100%;">
       <div class="container wrapper1 colorbg" style="background:#fff;">
	   <div class="section-title d-flex " data-aos="fade-right" style="padding-bottom:0px;padding-top:40px;">
          <h2>TEAM</h2>
        </div>
		<div class="section-title d-flex " data-aos="fade-right" style="padding-top:0px; padding-bottom:0px;">
          <p>OUR MENTORS</p>
        </div>
    <div class="row d-flex align-items-center mt-3" >
    	<div class="col-lg-3 col-6" data-aos="fade-left">
           <div class="our-team">
                <div class="pic">
                    <img src="assetsECA/img/ECA/1.jpg" style="width:100%;">
                </div>
                <div class="content">
                    <h3 class="title">Prof. Mukta Takalikar</h3>
                    <span class="post">Head of Cultural Activities club</span>
                    <ul class="social">
                     <!--   <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>-->
                        <li style="bottom: 10px;"><a href="https://www.linkedin.com/in/mukta-takalikar-81789a60/" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6" data-aos="fade-right">
            <div class="our-team">
                <div class="pic">
                    <img src="assetsECA/img/ECA/6.jpg" style="width:100%;">
                </div>
                <div class="content">
                    <h3 class="title">Prof. Manjeeta Kale</h3>
                    <span class="post">Head of PICTOREAL, <br/> Mentor of Cultural Club</span>
                    <ul class="social">
                     <!--   <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>-->
                        <li><a href="https://www.linkedin.com/in/manjeeta-kale-789356140/" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6" data-aos="fade-left">
           <div class="our-team">
                <div class="pic">
                    <img src="assetsECA/img/ECA/7.jpg" style="width:100%;">
                </div>
                <div class="content">
                    <h3 class="title">Prof. Sachin Shelke</h3>
                    <span class="post">Mentor of Clutural Club</span>
                    <ul class="social">
                     <!--   <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>-->
                        <li><a href="https://www.linkedin.com/in/sachin-shelke-2578251b/" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-6" data-aos="fade-right">
           <div class="our-team">
                <div class="pic">
                    <img src="assetsECA/img/ECA/2.jpg" style="width:100%;">
                </div>
                <div class="content">
                    <h3 class="title">Prof. Pallavi Joshi</h3>
                    <span class="post">Head of DEBSOC, <br/> Mentor of Cultural Club</span>
                    <ul class="social">
                     <!--   <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>-->
                        <li><a href="https://www.linkedin.com/in/mukta-takalikar-81789a60/" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<div class="row d-flex align-items-center mt-3">
        <div class="col-lg-3 col-6" data-aos="fade-left">
            <div class="our-team">
                <div class="pic">
                    <img src="assetsECA/img/ECA/9.jpg">
                </div>
                <div class="content">
                    <h3 class="title">Prof. Sakshi Housmani</h3>
                    <span class="post">Mentor of Cultural Club</span>
                    <ul class="social">
                     <!--   <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>-->
                        <li><a href="https://www.linkedin.com/in/bhumesh-masram-0a335264/" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>
       <div class="col-lg-3 col-6" data-aos="fade-right">
            <div class="our-team">
                <div class="pic">
                    <img src="assetsECA/img/ECA/8.jpeg">
                </div>
                <div class="content">
                    <h3 class="title">Dr. Kavita Sultanpure</h3>
                    <span class="post">Mentor of Cultural Club</span>
                    <ul class="social">
                    <!--    <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>-->
                        <li><a href="http://www.linkedin.com/in/DrKavitaSultanpure" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-6" data-aos="fade-left">
            <div class="our-team">
                <div class="pic">
                    <img src="assetsECA/img/ECA/4.jpg" style="width:100%;">
                </div>
                <div class="content">
                    <h3 class="title">Prof. Bhumesh Masram</h3>
                    <span class="post">Mentor of Cultural Club</span>
                    <ul class="social">
                     <!--   <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>-->
                        <li><a href="https://www.linkedin.com/mwlite/in/bhumesh-masram-3a9159202" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-6" data-aos="fade-right">
            <div class="our-team">
                <div class="pic">
                    <img src="assetsECA/img/ECA/5.jpg">
                </div>
                <div class="content">
                    <h3 class="title">Prof. Kranti Jadhav</h3>
                    <span class="post">Mentor of Cultural Club</span>
                    <ul class="social">
                     <!--   <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>-->
                        <li><a href="https://www.linkedin.com/in/kranti-jadhav-981419204" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>
	<!--	 -->
</div>
<div class="row d-flex justify-content-center mt-3" style="padding-bottom: 20px;">
		 <div class="col-lg-3 col-6" data-aos="fade-left">
            <div class="our-team">
                <div class="pic">
                    <img src="assetsECA/img/ECA/3.jpg">
                </div>
                <div class="content">
                    <h3 class="title">Prof. Abhishek Kulkarni</h3>
                    <span class="post">Member of Cultural Club</span>
                    <ul class="social">
                     <!--   <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>-->
                        <li><a href="" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>
		<div class="col-lg-3 col-6" data-aos="fade-right">
            <div class="our-team">
                <div class="pic">
                    <img src="assetsECA/img/ECA/13.jpg">
                </div>
                <div class="content">
                    <h3 class="title">Prof. Amol Chavan</h3>
                    <span class="post">Mentor of Cultural Club</span>
                    <ul class="social">
                     <!--   <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>-->
                        <li><a href="" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>
		<!--
		<div class="col-lg-3 col-6" data-aos="fade-left">
            <div class="our-team">
                <div class="pic">
                    <img src="assetsECA/img/ECA/5.jpe">
                </div>
                <div class="content">
                    <h3 class="title">Prof. Poonam Verma</h3>
                    <span class="post">Mentor of Cultural Club</span>
                    <ul class="social">
                        <li><a href="" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div> -->
		<div class="col-lg-3 col-6" data-aos="fade-right">
            <div class="our-team">
                <div class="pic">
                    <img src="assetsECA/img/ECA/12.jpg">
                </div>
                <div class="content">
                    <h3 class="title">Mr. Kiran Kadam Bande</h3>
                    <span class="post">Mentor of Cultural Club</span>
                    <ul class="social">
                     <!--   <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>-->
                        <li><a href="https://www.linkedin.com/in/kiran-kadambande-46a5a575/" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>
       </div>
    </div>
    </section><!-- End Team Section -->
  <!-- ======= Features Section ======= -->

    <section id="team" class="team" style="margin-top:0px;">
      <div class="container colorbg" style="padding-top: 40px;">
		<div class="section-title d-flex" data-aos="fade-right" style="padding-bottom:0px;text-align: left;">
          <h2>Clubs</h2>
        </div>
		<div class="section-title d-flex" data-aos="fade-right" style="padding-top:0px; padding-bottom:0px;text-align: left;">
          <p>OUR CLUBS</p>
        </div>
		</div>
    <section id="features" class="features">
      <div class="container colorbg">
		<div class="tab-content" data-aos="fade-up">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
			<div class="col-12">
              <p class="font-italic" style="margin-top: 0px;text-align: justify;text-justify: inter-word;font-size:18px;"><b>
                   Together, we as a committee focus on the extracurricular development of the students of PICT, by making them find their hidden talents, and helping them showcase the same. Each club focuses on a unique development curriculum, which is discussed below: </b>
                </p>
                <p style="text-align: justify;text-justify: inter-word;font-size:16px;">
                	<b>DEBSOC :</b> The Club focuses on developing the oratory and leadership skills of its members and train them in the art of articulating one's thoughts and ideas effectively. Along with that, the club motivates its members to participate in various public speaking competitions to hone their oratory skills at the highest level!
                </p>
                <p style="text-align: justify;text-justify: inter-word;font-size:16px;">
                	<b>ART CIRCLE :</b> ”You use the glass mirror to see your face; you use works of art to see your soul”- George Bernard Shaw. The club focuses on bringing out the artistic part of every individual to life by giving them enormous opportunities to showcase their talents and their skills like dance, music, scripting, management. The club represents PICT at numerous competitions and has a brilliant record of executions there!
                </p>
				</div>
            </div>
          </div>
          </div></div>
    </section>
	</section><!-- End Features Section -->




<div class="wrapper colorbg" >
  <div class="cols colorbg" style="margin:0px;">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(assetsECA/img/ECA/debate.jpg);background-size: contain;">
						
					</div>
					<div class="back" >
						<div class="inner">
						 <h1>Debsoc</h1>
             <p>Think. Speak. Listen...!</p>
						 <p style="font-size: 20px;line-height: 25px;text-align: justify;text-justify: inter-word;"></p>
						 <a href="/debsoc">
             <button type="button" class="btn active" style="background:#e8ffc1;">Read More</button>
			 </a>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(assetsECA/img/ECA/Eca.png);">
						
					</div>
					<div class="back" >
						<div class="inner">
						  <h1>Artcircle</h1>
              <p>Get your Artistic Fun..!</p>
						  <p style="font-size: 20px;text-align: justify;text-justify: inter-word;line-height: 25px;word-spacing: normal;"></p>
						  	<a href="/art-circle">
              <button type="button" class="btn active" style="background:#e8ffc1;">Read More</button>
			  </a>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(assetsECA/img/ECA/quiz.jpg)">
						
					</div>
					<div class="back">
						<div class="inner">						 
							<h1>Quiz Club</h1>
							<p>See how much you know..!</p>
							<a href="/debsoc#call-to-action">
               <button type="button" class="btn active" style="background:#e8ffc1;">Read More</button>
			   </a>
						</div>
					</div>
				</div>
			</div>
		
			</div></div>

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container " >

        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <span class="bg-danger text-warning" style="font-size:30px;border-radius:5px;"><b>&nbsp;LATEST UPDATE</b>  </span><span style="font-size:30px;">&nbsp; &#128264;</span>
            <h4 style="color: #000;"></h4>
            
            <marquee direction="left" style="color: #fff;font-size: 25px;"><strong>9th January 2021 : DEBSOC, The Distinguished Speaker Program, expert session on "The importance of soft skills in corporate World" , by Divas Gupta, India's First IKIGAI coach
            
            </strong></marquee>
           
           
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="/debsoc#features">Read More</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact colorbg">
     <div class="container " style="padding-top:30px;padding-bottom:20px;background:#fff;">

      <div class="section-title" data-aos="zoom-out">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>

      <div class="row mt-3">

        <div class="col-lg-6" data-aos="fade-right">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p style='text-align: justify;text-justify: inter-word;'>Survey No. 27 near Trimurti Chowk,<br/> Dhankawadi, Pune, Maharashtra 411043
              </p>
            </div>

            <div class="email">
              <i class="icofont-at"></i>
              <h4>Email:</h4>
              <p><a href="mailto:cultural@pict.edu">cultural@pict.edu</a></p>
            </div>

            <div class="phone">
              <i class="icofont-envelope"></i>
              <h4>Contact us:</h4>
			  <div class="row row-content">
			  <div class="col-12"><p style="padding:2px;margin-left:2px;"><a href="mailto:mugdhasonare@gmail.com">Mugdha Sonare (Art Circle)</a></p></div>
			  <div class="col-12"><p style="padding:2px;margin-left:2px;"><a href="mailto:arnavd03051999@gmail.com">Arnav Deshmukh (DebSoc)</a></p></div>
			  </div>
            </div>

          </div>

        </div>

        <div class="col-lg-6  mt-lg-0 text-center">
          <img class="mt-2" style="max-height: 200px; max-width: 200px;" src="assets/img/Art_circle/Doubt.png" alt=""
            srcset="">
          <div class="container m-3">
            <a href="/contact" class="btn"
              style="border-radius: 15px;width: 100%; color : white ;font-size: 25px; background-color: rgb(16, 15, 61);">
              Have any
              queries?
            </a>
          </div>


        </div>

      </div>

    </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  
  <footer id="footer">
    <div class="container" style="text-align: center;justify-content:center;">
      <h3>Cultural Club @PICT</h3>
      <p style="margin-bottom:5px;font-size:20px;">We create a difference !</p>

      <div class="info" style="text-align:left;justify-content:left;align-items:left;">

        
      </div>
    <!--  <div class="social-links">
        <h4>Follow us at:
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a></h4>
      </div>-->
      <div class="copyright">
        &copy; Copyright <strong><span>CC@PICT</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/selecao-bootstrap-template/ -->
        Designed by <a>WEBTEAM</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/assetsECA/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/assetsECA/vendor/php-email-form/validate.js"></script>
  <script src="/assetsECA/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assetsECA/vendor/venobox/venobox.min.js"></script>
  <script src="/assetsECA/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/assetsECA/vendor/aos/aos.js"></script>
  
  <!-- Template Main JS File -->

  <script src="/assetsECA/js/ECA/main.js"></script>
   <script  src="/assetsECA/js/ECA/script.js"></script>
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!--This is the new code added here, first check screen orientation to recognise device, then assign some height % to that id for container-->

<script>
AOS.init({
  duration: 1200,
})
</script>


</body>

</html>