<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">

            <p class=""><i class="fa  fa-shield p-3" style="color: goldenrod; " aria-hidden="true"></i><span
                    style="text-decoration: underline solid orange;">Achievements</span> </p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="icon-box" data-aos="zoom-in-left">
                    <div class="icon"><i class="fa fa-trophy" style="color: #ff689b;"></i></div>
                    <h5 class="" ><a href="#" style="color:black;">Head Bang Competition(Band Wars)</a></h5>
                    <p class="description">
                        <ul>
						<li>Runner up Position</li>
						<li>at MIT AAROHAN CULTURAL FEST</li>
						<li>Participants : </li>
						<li>Swanand Kulkarni</li>
						<li>Sarang Agrawal</li>
						<li>Shashwat Tandon</li>
						<li>Rujul Khupsangikar</li>
						<li>Rohan Jadhav</li>
						<li>Prajwal Billade</li>
						<li>Bhavnesh Bhat</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-box" data-aos="zoom-in-left">
                    <div class="icon"><i class="fa fa-trophy" style="color: #ff689b;"></i></div>
                    <h5 class="" ><a href="#" style="color:black;">Firodiya Karandak 2020 "Hasrat”</a></h5>
                    <p class="description">
                        <ul>
						<li>Best Organised Team ( BOT )  2020</li>
						<li>Best Sand Animation : 1st- Shivani Dighade and Manjusha Gavali</li>
						<li>Best Lights : 2nd</li>
						<li>Best Writing : Consolation - Abhishek Kulkarni</li>
						<li>Best Set : 3rd</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
                    <div class="icon"><i class="fa fa-trophy" style="color: #e9bf06;"></i></div>
                    <h5 class="" ><a href="#" style="color:black;">Firodiya Karandak 2019 "Naqaab”</a></h5>
                    <p class="description" style="padding-right:0px;">
                        <ul>
						<li>Best Drama - 3rd</li>
						<li>Best Organized Team</li>
						<li>Best Writing- 2nd - Prashant Bhiwsane</li>
						<li>Best Set Design- 3rd</li>
						<li>Best Lights- 1st</li>
						<li>Best Sand Art - 1st - Shivani Dighade and Prathamesh Choudhari</li>
						<li>Best Shadow Art- 2nd</li>
						<li>Best Fumage Art- 1st- Piyush Kataktalware</li>
						<li>Acting- 3rd - Ojas Netke</li>
                        </ul>
                    </p>
                </div>
            </div>
			<div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
                    <div class="icon"><i class="fa fa-trophy" style="color: #d6ff22;"></i></div>
                    <h5 class="" ><a href="#" style="color:black;">Purushottam Karandak 2019
Thoda Bolaychay</a></h5>
                    <p class="description">
                        <ul>
                            <li>Acting consolation : Aditi Salunkhe</li>
                        </ul>
                    </p>
                </div>
            </div>
			<div class="col-lg-4 col-md-6 mt-5 ">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
                    <div class="icon"><i class="fa fa-trophy" style="color: #4680ff;"></i></div>
                    <h5 class="" ><a href="#" style="color:black;">Firodiya Karandak 2018 'A broken sky'</a></h5>
                    <p class="description">
                        <ul>
                            <li>Best Acting -3rd Sakshi Bihani</li>
                            <li>2nd prize for Shadow Event</li>
                            <li>Best Keyboard - 1st Akshay Sarbhukan</li>
                            <li>Best Western Singing - 1st - Surabhi Ponkshe</li>
                            <li>3rd prize for Drums - 3rd - Manas Bedekar</li>
                            <li>3rd prize for Lights</li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5 ">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                    <div class="icon"><i class="fa fa-trophy" style="color: #3fcdc7;"></i></div>
                    <h5 class="" ><a href="#" style="color:black;">Firodiya Karandak 2017 “Paash”:</a></h5>
                    <p class="description">
                        <ul>
                            <li>3rd Prize</li>
                            <li>3rd Best Direction – Shubham Mulay</li>
                            <li>2nd Best Actor – Sejal Jagtap</li>
                            <li>2nd Best Actress – Aishwarya Gaikwad</li>
                            <li>3rd Best Sand Art – Ganesh Wadewale & Ankita Chinnawar</li>
                            <li>2nd Best Casting</li>
                            <li>2nd Best Set</li>
                            <li>Best Organised Team</li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5 ">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
                    <div class="icon"><i class="fa fa-trophy" style="color: #3fcdc7;"></i></div>
                    <h5 class="" ><a href="#" style="color:black;">Daajikaka Gaadgil Karandak 2016 “Avdambar”</a></h5>
                    <p class="description">
                        <ul>
                            <li> 3rd Best Drama</li>
                            <li> Best Music (1st prize)</li>
                            <li> Best Set (1st prize)</li>
                            <li> 3rd Best Lighting</li>
                            <li> 2nd Best script - Shubham Mulay</li>
                            <li>Direction consolation - Aishwarya Gaikwad</li>
                            <li>Acting consolation - Paritosh Bhide</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
                    <div class="icon"><i class="fa fa-trophy" style="color:#41cf2e;"></i></div>
                    <h5 class="" ><a href="#" style="color:black;">Savitribai Phule Pune University One Act Play Competition
                            “Avdambar”</a></h5>
                    <p class="description">
                        <ul>
                            <li>1. 2nd Best Drama</li>
                            <li> Best Music (1st Prize)</li>
                            <li> Best Stage Management (1st Prize)</li>
                            <li>Best Actor – Bhavesh Joshi</li>

                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="600">
                    <div class="icon"><i class="fa fa-trophy" style="color:#41cf2e;"></i></div>
                    <h5 class="" ><a href="#" style="color:black;">Purushottam Karandak Mega Finals Mahakarandak (State Level) 2016
                            “Avdambar”:</a></h5>
                    <p class="description">
                        <ul>
                            <li>Best Drama -3rd prize (Sanjeev karadak)</li>
                            <li>Acting Consolation – Aishwarya Gaikwad</li>
							<li>Consolation for Direction – Aishwarya Gaikwad</li>
                            <li>Acting Consolation – Bhavesh Joshi</li>
                            <li>Consolation for Acting – Paritosh Bhide</li>

                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
                    <div class="icon"><i class="fa fa-trophy" style="color:#41cf2e;"></i></div>
                    <h5 class="" ><a href="#" style="color:black;">Purushottam Karandak 2015 “Sarhad”</a></h5>
                    <p class="description">
                        <ul>
                            <li>Best Drama (1st prize)</li>
                            <li>Bhagirath Karandak (Best Organized Team Award)</li>
                            <li>Best Director – Mayur Auti</li>
                            <li>Best Actress – Nikita Thube</li>
                            <li>Consolation for Acting – Sejal Jagtap</li>
                            <li>Consolation for Acting – Paritosh Bhide</li>

                        </ul>
                    </p>
                </div>
            </div>


        </div>

    </div>
</section><!-- End Services Section -->