<!-- ---------------- Firodiya Secion ------------------------>

<div class="container-firodiya">
    <div class="container section-title">
        <h3 style="font-size: 45px; font-weight: bold; text-decoration:underline orange solid; margin-bottom: 
        15px;"><i class="fa  fa-shield p-3" style="color: goldenrod; " aria-hidden="true"></i>COMPETITIONS</h3>
    </div>
    <!-- <div class="section-title" data-aos="zoom-out">

        <p class="p-4"><i class="fa  fa-shield p-3" style="color: goldenrod; " aria-hidden="true"></i><span
                style="text-decoration: underline solid orange;">Competitions</span> </p>
    </div> -->

    <div id="firodiya-section" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active" data-interval="2000">
                <img src="./assets/img/Art_circle/Firodiya/firo6.JPG" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Firodiya</h5>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="./assets/img/Art_circle/Firodiya/firo7.JPG" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Firodiya</h5>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="./assets/img/Art_circle/Firodiya/firo5.JPG" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Firodiya</h5>
                </div>
            </div>

            <div class="carousel-item" data-interval="2000">
                <img src="./assets/img/Art_circle/background/img3.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Firodiya</h5>
                </div>
            </div>

            <div class="carousel-item" data-interval="2000">
                <img src="./assets/img/Art_circle/Purushottam/puru2.JPG" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Purushottam</h5>
                </div>
            </div>

            <div class="carousel-item" data-interval="2000">
                <img src="./assets/img/Art_circle/background/general2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h5>Purushottam</h5> -->
                </div>
            </div>

            <div class="carousel-item" data-interval="2000">
                <img src="./assets/img/Art_circle/background/general3.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h5>Purushottam</h5> -->
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#firodiya-section" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#firodiya-section" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<section id="carousels-firo-puru" class="carousels-firo-puru">
    <div class="row">
        <div class="md-2">
            <section id="firo-text" class="firo-text">
                <!--------------- Firodiya-Text-Carousel------------------->
                <div id="firodiya-text" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-interval="2000">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5 class="card-title">Firodiya Karandak</h5>
                                    <p class="card-text" style="text-align: justify;">
                                        The main aim of Firodiya Karandak Intercollege competition is to give a platform for college students to showcase their artistic musings. PICT performed the play "तो मी नव्हेच " for the first time in this competition in the year 2000.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!---------------  Firodiya-Text-Carousel ------------------->
            </section>

        </div>

    </div>
</section>


<!------------------ Firodiya Secion ---------------------- -->