<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">

            <p class="p-4"><i class="fa  fa-shield p-3" style="color: goldenrod; " aria-hidden="true"></i><span
                    style="text-decoration: underline solid orange;">Gallery</span> </p>
        </div>
        <ul id="portfolio-flters" class="" data-aos="fade-up">
            <div class="row row-content">
                <div class="col-6 col-md-3 d-flex justify-content-start">
                    <li data-filter=".filter-arts" class="">
                        <span class="bg-dark" style="border-radius:5px;"> &nbsp; Arts &nbsp;</span>
                    </li>
                </div>
                <div class="col-6 col-md-3 d-flex justify-content-start">
                    <li data-filter=".filter-FE" class="">
                        <span class="bg-dark " style="border-radius:5px;"> &nbsp; Team &nbsp;</span>
                </div>
                </li>
                <div class="col-6 col-md-3 d-flex justify-content-start">
                    <li data-filter=".filter-workshop" class="">
                        <span class="bg-dark " style="border-radius:5px;"> &nbsp; Events &nbsp;</span>
                    </li>
                </div>
                <div class="col-6 col-md-3 d-flex justify-content-start">
                    <li data-filter=".filter-anveshan" class="">
                        <span class="bg-dark " style="border-radius:5px;"> &nbsp; Preparation &nbsp;</span>
                    </li>
                </div>
            </div>
        </ul>


        <div class="row portfolio-container" data-aos="fade-up">
            <!-- ART -->
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/art1.jpg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art_gallery/art1.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/1.jpeg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art_gallery/1.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/29.jpeg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art_gallery/29.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/art3.JPG" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Sand Art</h4>
                    <a href="assets/img/Art_circle/Art_gallery/art3.JPG" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/art6.jpg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Pencil Sketches</h4>
                    <a href="assets/img/Art_circle/Art/art6.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/art4.jpg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/art4.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/art5.jpg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/art5.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/2.jpeg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/2.jpeg" data-gall="portfolioGallery" class="venobox preview-link"
                        title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/3.jpeg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/3.jpeg" data-gall="portfolioGallery" class="venobox preview-link"
                        title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/4.jpeg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/4.jpeg" data-gall="portfolioGallery" class="venobox preview-link"
                        title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/5.jpeg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/5.jpeg" data-gall="portfolioGallery" class="venobox preview-link"
                        title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/6.jpeg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/6.jpeg" data-gall="portfolioGallery" class="venobox preview-link"
                        title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/7.jpeg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/7.jpeg" data-gall="portfolioGallery" class="venobox preview-link"
                        title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/8.jpeg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/8.jpeg" data-gall="portfolioGallery" class="venobox preview-link"
                        title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/9.jpeg" class="img-fluid" alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/9.jpeg" data-gall="portfolioGallery" class="venobox preview-link"
                        title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/10.jpeg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/10.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/11.jpeg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/11.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/12.jpeg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/12.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/22.jpeg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/22.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/23.jpeg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/23.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/24.jpeg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/24.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/25.jpeg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/25.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/26.jpeg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/26.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/28.jpeg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/28.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-arts">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/30.jpeg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Art</h4>
                    <a href="assets/img/Art_circle/Art/30.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>

            <!-- end of art -->

            <!-- Team -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-FE">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/team1.jpeg" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>ArtExhibition</h4>
                    <a href="assets/img/Art_circle/Art_gallery/team1.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-FE">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/team2.jpeg" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Abhivyaktee</h4>
                    <a href="assets/img/Art_circle/Art_gallery/team2.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-FE">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/team3.jpeg" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Addiction</h4>
                    <a href="assets/img/Art_circle/Art_gallery/team3.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-FE">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/team4.jpeg" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>ArtExhibition</h4>
                    <a href="assets/img/Art_circle/Art_gallery/team4.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>

            <!-- End of Team -->


            <!-- Events -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/Event1.jpeg" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Dance Competition</h4>
                    <a href="assets/img/Art_circle/Art_gallery/21.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/21.JPEG" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>FE meet</h4>
                    <a href="assets/img/Art_circle/Art_gallery/21.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/event2.jpg" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>OpenMic</h4>
                    <a href="assets/img/Art_circle/Art_gallery/event2.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/event3.jpeg" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Band Competition</h4>
                    <a href="assets/img/Art_circle/Art_gallery/21.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/18.JPEG" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>FE meet</h4>
                    <a href="assets/img/Art_circle/Art_gallery/18.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/19.JPEG" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>FE meet</h4>
                    <a href="assets/img/Art_circle/Art_gallery/19.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/20.JPEG" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>FE meet</h4>
                    <a href="assets/img/Art_circle/Art_gallery/20.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/FE2.JPG" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4> Music </h4>
                    <a href="assets/img/Art_circle/Art_gallery/FE2.JPG" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/FE3.JPG" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Freshers Meet </h4>
                    <a href="assets/img/Art_circle/Art_gallery/FE3.JPG" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/FE4.JPG" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Freshers Meet </h4>
                    <a href="assets/img/Art_circle/Art_gallery/FE4.JPG" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/FE1.JPG" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Flashmob</h4>
                    <a href="assets/img/Art_circle/Art_gallery/FE1.JPG" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/13.jpeg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Abhivyakti</h4>

                    <a href="assets/img/Art_circle/Art_gallery/13.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/14.jpeg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Abhivyakti</h4>

                    <a href="assets/img/Art_circle/Art_gallery/14.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/workshop1.jpg" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Dhol-tasha workshop</h4>

                    <a href="assets/img/Art_circle/Art_gallery/workshop1.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/15.jpeg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Abhivyakti</h4>

                    <a href="assets/img/Art_circle/Art_gallery/15.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/16.jpeg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Abhivyakti</h4>

                    <a href="assets/img/Art_circle/Art_gallery/16.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/17.jpeg" class="img-fluid"
                        alt=""></div>
                <div class="portfolio-info">
                    <h4>Abhivyakti</h4>

                    <a href="assets/img/Art_circle/Art_gallery/17.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/workshop2.jpg" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Dhol-tasha workshop</h4>
                    <a href="assets/img/Art_circle/Art_gallery/workshop2.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/workshop4.jpg" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Dhol-tasha workshop</h4>
                    <a href="assets/img/Art_circle/Art_gallery/workshop4.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/workshop3.jpg" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Dhol-tasha workshop</h4>
                    <a href="assets/img/Art_circle/Art_gallery/workshop3.jpg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/Anveshan1.JPG" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Painting</h4>
                    <a href="assets/img/Art_circle/Art_gallery/Anveshan1.JPG" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/Anveshan2.JPG" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Music</h4>
                    <a href="assets/img/Art_circle/Art_gallery/Anveshan2.JPG" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/Anveshan3.JPG" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Painting</h4>
                    <a href="assets/img/Art_circle/Art_gallery/Anveshan3.JPG" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-workshop">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/Anveshan4.JPG" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Puppet Show</h4>
                    <a href="assets/img/Art_circle/Art_gallery/Anveshan4.JPG" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <!-- End of Events -->

            <!-- Start of Preparation -->
            <div class="col-lg-4 col-md-6 portfolio-item filter-anveshan">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/pre1.jpeg" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Art Exhibhition</h4>
                    <a href="assets/img/Art_circle/Art_gallery/pre1.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-anveshan">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/pre2.png" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>MIT aarohan</h4>
                    <a href="assets/img/Art_circle/Art_gallery/pre2.png" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-anveshan">
                <div class="portfolio-img"><img src="assets/img/Art_circle/Art_gallery/pre3.jpeg" class="img-fluid"
                        alt="">
                </div>
                <div class="portfolio-info">
                    <h4>Are Exhibhition</h4>
                    <a href="assets/img/Art_circle/Art_gallery/pre3.jpeg" data-gall="portfolioGallery"
                        class="venobox preview-link" title="App 1"><i class="bx bx-search-alt"></i></a>
                </div>
            </div>
            <!-- end of preparation -->
        </div>
    </div>
</section><!-- End gallery -->