<!-- ======= internal event Section ======= -->
<section id="features" class="features">
    <div class="container">
        <div class="" data-aos="zoom-out">
            <div class="section-title" data-aos="zoom-out">

                <p class="p-4"><i class="fa  fa-shield p-3" style="color: goldenrod; " aria-hidden="true"></i><span
                        style="text-decoration: underline solid orange; color: white;">College events</span> </p>
            </div>

        </div>
        <ul class="nav nav-tabs row d-flex ">
            <li class="nav-item col-3 mb-2" data-aos="zoom-in">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                    <h6 style="color: white;">Abhivyakti</h6>
                    <!-- <i class="ri-gps-line"></i>
            <h4 class="d-none d-lg-block">Modi sit est dela pireda nest</h4> -->
                </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
                <a class="nav-link" data-toggle="tab" href="#tab-2">
                    <h6 style="color: white;">Art Exhibition</h6>
                    <!-- <i class="ri-body-scan-line"></i>
            <h4 class="d-none d-lg-block">Unde praesenti mara setra le</h4> -->
                </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
                <a class="nav-link" data-toggle="tab" href="#tab-3">
                    <h6 style="color: white;">Freshers Meet</h6>
                    <!-- <i class="ri-sun-line"></i>
            <h4 class="d-none d-lg-block">Pariatur explica nitro dela</h4> -->
                </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
                <a class="nav-link" data-toggle="tab" href="#tab-4">
                    <h6 style="color: white;">Anveshan</h6>
                    <!-- <i class="ri-store-line"></i>
            <h4 class="d-none d-lg-block">Nostrum qui dile node</h4> -->
                </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
                <a class="nav-link" data-toggle="tab" href="#tab-8">
                    <h6 style="color: white;">Light Workshop</h6>
                    <!-- <i class="ri-store-line"></i>
            <h4 class="d-none d-lg-block">Nostrum qui dile node</h4> -->
                </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
                <a class="nav-link" data-toggle="tab" href="#tab-9">
                    <h6 style="color: white;">Dance Workshop</h6>
                    <!-- <i class="ri-store-line"></i>
            <h4 class="d-none d-lg-block">Nostrum qui dile node</h4> -->
                </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
                <a class="nav-link" data-toggle="tab" href="#tab-10">
                    <h6 style="color: white;">Acting Workshop</h6>
                    <!-- <i class="ri-store-line"></i>
            <h4 class="d-none d-lg-block">Nostrum qui dile node</h4> -->
                </a>
            </li>
        </ul>

        <div class="tab-content" data-aos="fade-up">
            <div class="tab-pane active show" id="tab-1">
                <div class="row text-center">

                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <hr style="height: 10px; color: orange;">
                        <h3 style="text-align: justify;">Following the motto "by the people for the people", freshers
                            are
                            given a chance to explore and
                            enhance
                            their skills in a very comfortable environment.</h3>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/Art_circle/internal_events/Abhivyaktee.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-2">
                <div class="row text-center">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <hr style="color: orange; height: 20px; ">
                        <h3 style="text-align: justify;"> Art Exhibition was the event wherein the painting and other
                            skills of the art circle students were presented in front of PICT.</h3>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/Art_circle/internal_events/ArtExhibition.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-3">
                <div class="row text-center">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <hr>
                        <h3 style="text-align: justify;">This is an event where the first-year students are introduced
                            to the artistic performances of Art Circle students.
                        </h3>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/Art_circle/internal_events/img3.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-4">
                <div class="row text-center">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <hr>
                        <h3 style="text-align: justify;">An open stage event in which all students and even teachers get
                            an opportunity to showcase
                            their
                            talent through various artforms like dance, poetry, music, painting, acting, etc. </h3>

                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/Art_circle/internal_events/img4.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-8">
                <div class="row text-center h-50">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <hr>
                        <h3 style="text-align: justify;">The workshop was organized in order to give knowledge about
                            lights use in dramas on stage.
                        </h3>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center h-50">
                        <img src="assets/img/Art_circle/internal_events/lightWorkshop.png" alt=""
                            class="img-fluid h-50">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-9">
                <div class="row text-center">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <hr>
                        <h3 style="text-align: justify;">
                            The workshop was organized to bring out the potential dancers in PICT.
                        </h3>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/Art_circle/internal_events/DanceWorkshop2k22.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-10">
                <div class="row text-center">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <hr>
                        <h3 style="text-align: justify;">
                            The workshop was conducted by Mr. Suraj Parasnis in order to develop an artistic approach to
                            acting, writing, and direction.
                            conducted for 3 days.
                        </h3>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/Art_circle/internal_events/ActingWorkshop.jpeg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>


        <div class="" data-aos="zoom-out">
            <div class="section-title" data-aos="zoom-out">

                <p class="p-4"><i class="fa  fa-shield p-3" style="color: goldenrod; " aria-hidden="true"></i><span
                        style="text-decoration: underline solid orange; color: white;">Inter-College events</span> </p>
            </div>

        </div>
        <ul class="nav nav-tabs row d-flex ">
            <li class="nav-item col-3" data-aos="zoom-in">
                <a class="nav-link active show" data-toggle="tab" href="#tab-5">
                    <h6 style="color: white;">Head Bang</h6>
                    <!-- <i class="ri-gps-line"></i>
            <h4 class="d-none d-lg-block">Modi sit est dela pireda nest</h4> -->
                </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
                <a class="nav-link" data-toggle="tab" href="#tab-6">
                    <h6 style="color: white;">Dance Competition</h6>
                    <!-- <i class="ri-body-scan-line"></i>
            <h4 class="d-none d-lg-block">Unde praesenti mara setra le</h4> -->
                </a>
            </li>
            <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
                <a class="nav-link" data-toggle="tab" href="#tab-7">
                    <h6 style="color: white;">Open Mic Competition</h6>
                    <!-- <i class="ri-body-scan-line"></i>
            <h4 class="d-none d-lg-block">Unde praesenti mara setra le</h4> -->
                </a>
            </li>
        </ul>

        <div class="tab-content" data-aos="fade-up">
            <div class="tab-pane active show" id="tab-5">
                <div class="row text-center">

                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <hr style="height: 10px;; color: orange;">
                        <h3 style="text-align: justify;">
                            7 Participants from SE and TE Performed in Head Bang Competition
                            held at MIT Aarohan Cultural Fest which is organized at National Level
                        </h3>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/Art_circle/internal_events/HeadBang.jpeg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-6">
                <div class="row text-center">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <hr style="color: orange; height: 20px; ">
                        <h3 style="text-align: justify;">
                            15 Participants Performed in Dance Competition
                            held at MIT Aarohan Cultural Fest which is organized at National Level
                        </h3>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/Art_circle/internal_events/DanceComp.jpeg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-7">
                <div class="row text-center">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <hr style="color: orange; height: 20px; ">
                        <h3 style="text-align: justify;">
                            2 Participants from SE and TE participated Open Mic Competition in MIT Aarohan.
                        </h3>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/Art_circle/internal_events/openMic.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End event Section -->