<!-- sections -->
<section>
    <div class="container-fluid">
        <div class="section-title" data-aos="zoom-out">
            <div class="container">
                <p class=""><i class="fa  fa-shield p-3" style="color: goldenrod; " aria-hidden="true"></i><span
                        style="text-decoration: underline solid orange;">Sections</span> </p>
            </div>

        </div>
		<div class="container">
        <div class="row" style="padding-top: 5%;">
            <div class="col-lg-6">
                <!-- <div class="card" style="height:60vh;">
                    <i class="fa fa-5x fa-film" aria-hidden="true"></i>
                    <div class="card-body">
                        <h5 class="card-title">Acting and script writing</h5>
                        <p class="card-text">
                            The foundation of acting is the reality of doing!
                        </p>
                    </div>
                </div> -->
                <div class="container text-center"
                    style=" border-radius: 12px;box-shadow: 5px 5px 10px rgba(59, 57, 57, 0.527);">
                    <img style="margin-top:20px;max-width: 150px ; max-height: 150px;" src="assets/img/Art_circle/section/acting.png"
                        alt="" srcset="">
                    <hr>
                    <h5 class="mb-2"><strong> Acting and script writing</strong></h5>
                    <p style="text-align: justify;">Acting section functions in framing skits during
                        events like
                        Addiction, FE meet, etc. thereby
                        carrying out acting practice of the newcomers.
                        Story is 'soul' of 'Play', Writing gives life to that soul. That's what we do in writing section!
                    </p>
                    <br>
					<br/>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- <div class="card" style="height:60vh;">
                    <img class="card-img-top" src="/photos/music.jpg" alt="">

                    <div class="card-body">
                        <h5 class="card-title">Music</h5>
                        <p class="card-text">
                            Music is a piece of Art that goes into the Ears straight to the Heart!
                        </p>
                    </div>
                </div> -->
                <div class="container text-center"
                    style=" border-radius: 12px;box-shadow: 5px 5px 10px rgba(59, 57, 57, 0.527);">
                    <img style="margin-top:20px;max-width: 150px ; max-height: 150px;" src="assets/img/Art_circle/section/music.png"
                        alt="" srcset="">
                    <hr>
                    <h5 class="mb-2"><strong>Music</strong> </h5>
                    <p style="text-align: justify;">

                        From impromptu jamming sessions to serious practice hours, from
                        covering hits to creating
                        original compositions, the music section is our own little coke studio. Here, you sing, play,
                        learn or even dance to your own tunes. But most importantly you create some of the best musical
                        memories that stay with you for the rest of your life!</p>
                    <br>




                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 5%;">
            <div class=" col-lg-6 mb-4">
                <!-- <div class="card" style="height:60vh;">
                    <img class="card-img-top" src="/photos/Sets,Lights and Drapery2.jpg" alt="">

                    <div class="card-body">
                        <h5 class="card-title">Set, Lights and Drapery</h5>
                        <p class="card-text">
                            The foundation of acting is the reality of doing!
                        </p>
                    </div>
                </div> -->
                <div class="container text-center"
                    style=" border-radius: 12px;box-shadow: 5px 5px 10px rgba(59, 57, 57, 0.527); ">
                    <img style="margin-top:20px;max-width: 150px ; max-height: 150px;" src="assets/img/Art_circle/section/theatre.png"
                        alt="" srcset="">
                    <hr>
                    <h5 class="mb-2"> <strong>Set, Drapery and lights</strong> </h5>
                    <p style="text-align: justify;">
                        This section always tries to establish the 'Era' n 'Place' according to the play where set,
                        lights
                        and drapery work combinly for the great establishment.
                    </p>
                    <br>




                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <!-- <div class="card" style="height:60vh;">
                    <img class="card-img-top" src="/photos/dance.jpg" alt="">

                    <div class="card-body">
                        <h5 class="card-title">Dance</h5>
                        <p class="card-text">
                            Dance less in motion and more in spirit;awaken the dreamer within
                        </p>
                    </div>
                </div> -->

                <div class="container text-center"
                    style=" border-radius: 12px;box-shadow: 5px 5px 10px rgba(59, 57, 57, 0.527);">
                    <img style="margin-top:20px;max-width: 150px ; max-height: 150px;" src="assets/img/Art_circle/section/dance.png"
                        alt="" srcset="">
                    <hr>
                    <h5 class="mb-2"><strong>Dance</strong> </h5>
                    <p style="text-align: justify;"> Dance is all about expressing emotions through
                        movement and the
                        section does that by practicing
                        different dance forms, styles and techniques.
                    </p>
                    <br>



                </div>
            </div>
        </div>
		</div>
    </div>


</section>

<!-- end of -->