<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container">

        <div class="row" data-aos="zoom-out">
            <div class="col-lg-9 text-center text-lg-left">
                <div class="section-title" data-aos="zoom-out">

                    <p class="p-4"><i class="fa  fa-shield p-3" style="color: goldenrod; " aria-hidden="true"></i><span
                            style="text-decoration: underline solid orange; color:black">Glimpses of our work</span>
                    </p>
                </div>
                <br>
                <!-- AP made changes-->
                <div class="iframe-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZV28o2U5xuI" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <!-- <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum.</p> -->
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="https://www.youtube.com/channel/UC6nDnmYeRbfB7wxn__deJaQ"
                    target="_blank">Watch All Videos</a>
            </div>
        </div>

    </div>
</section><!-- End Cta Section -->